@use 'styles' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: 100;
}

.wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.topSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include media(md) {
    width: auto;
  }
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.logoImg {
  width: 4.5rem;
  height: 4.5rem;
  padding-right: 1rem;

  @include media(md) {
    width: 8rem;
    height: 8rem;
  }
}

.logoText {
  font-size: 2.2rem;

  @include media(md) {
    font-size: 2.7rem;
  }
}
