@use 'styles' as *;

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;

  @include media(md) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.subscribe {
  width: 100%;
  margin-top: 3rem;

  @include media(md) {
    margin-top: 0;
    margin-left: 3rem;
  }
}

.info {
  margin: 3rem 0;
}
