@use 'styles' as *;

.navItem {
  @include flex(row, center, center);
  width: 80%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  transition: background-color 0.3s ease;
  cursor: pointer;
  z-index: 1;

  &:last-child {
    margin-bottom: 1rem;

    @include media(md) {
      margin-bottom: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background: transparent;
    transition: background-color 0.3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $secondary-color;
    transition: height 0.4s ease;
    transition-delay: 0.3s;
    z-index: -1;
  }

  &:hover {
    &::before {
      height: 100%;
    }

    &::after {
      background: $white-color;
    }
  }
}

.navItem--active {
  //color: $tertiary-color;
  background: $secondary-color;
}

.navItem--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: $tertiary-color;
}

.navLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  text-align: center;

  @include media(md) {
    padding: 1.5rem 4rem;
    font-size: 1.7rem;
    white-space: nowrap;
  }
}
