@use 'styles' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--white-color);
  color: var(--white-color);
  background: var(--secondary-color);
}

.wrapper {
  @include wrapper();
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrights {
  display: flex;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
