@use 'styles' as *;

.section {
  width: 100%;
  padding: 4rem 0;
  --section-color: #fff;
  --text-color: var(--dark-color);
}

.dark {
  --section-color: var(--secondary-color);
  --text-color: var(--white-color);
  background-color: var(--section-color);
  color: var(--text-color);
}

.container {
  @include wrapper();
}
