@use 'styles' as *;

.nav {
  width: 100%;
  color: var(--white-color);

  @include media(md) {
    width: auto;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  @include media(md) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.menuHidden {
  display: none;

  @include media(md) {
    display: flex;
    flex-direction: row;
  }
}
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
