@use 'styles' as *;

:root {
  --white-color: #f7fff7;
  --grey-color: #b2c2d2;
  --primary-color: #0080ff;
  --secondary-color: #004080;
  --tertiary-color: #ffa000;
  --dark-color: #191716;
  --red-color: #ff495c;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;

  @include media(md) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2.2rem;

  @include media(md) {
    font-size: 2.7rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include media(md) {
    font-size: 2.3rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  height: 1px;
  white-space: nowrap;
  width: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
