@use 'styles' as *;

.heroTitleSection {
  @include wrapper();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--primary-color);

  @include media(md) {
    position: relative;
    background-color: var(--dark-color);
  }
}
